table(class='board')
  each val in new Array(10)
    tr(class='guess')
      td
      td
      td
      td
      td
        table(class='score')
          tr
            td
            td
          tr
            td
            td
            
div(class='colors')
