table(class='board')
  each val in new Array(10)
    tr
      td
      td
      td
      td
      td
        table(class='score')
          tr
            td
            td
          tr
            td
            td
            
div(class='colors')
  ul  
    li a 
    li b
    li c
    li d
    li e
    li f
