- var n = 0
table(class='board')
    each val in new Array(10)
      tr
        td
        td
        td
        td
        td
          table(class='score')
            tr
              td
              td
            tr
              td
              td
            

